/*styles based on tags*/

body {
  background: #f0f0ef;
}
li{
  background: #008369;
  Margin: 5px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 0px;
  list-style: none;
  color: white;
}

li:hover{
  background: #006a55;
}

div {
  border-radius: 5px;
  vertical-align: top;
}


main {
  max-width: 1153px;
  margin:20px auto 0px;
  display: flex;
}

/*styles based on ids*/
  #navbar {
    background-image: url('english banner.png');
    height: 232px;
    max-width: 1173px;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px 0px grey;
    padding-top: 1px;
    margin: 0px auto;
    padding-right: 25px;
    box-sizing: border-box;
    
}

#navbar ul li {
    list-style: none;
    display: inline-block;
    float: right;
}

#sidebar {
  background: white;
    width: 30%;
    min-width: 175px;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    box-shadow: 3px 3px 5px 0px grey;

}
#content {
  background: white;
    width: 70%;
    max-height: 800px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    vertical-align:top;
    box-shadow: 3px 3px 5px 0px grey;
}

#diagram{
  display:block;
  width:100%;
  max-width: 500px;
  margin: 0px auto;
}

/*styles based on classes*/
.hide {
  display: none;
}
#footer{
  background: #008369;
    height:40px;
    padding-top: 1px;
}
#footer footer{
    text-align: center; 
}
