/*styles based on tags*/

body {
  background: #f0f0ef;
}
ul{
  padding-left: 0px;
}

.list1 li{
  background: #008369;
  Margin: 5px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 0px;
  list-style: none;
  color: white;
}

.list1 li:hover{
  background: #006a55;
}

div {

  vertical-align: top;
}


main {
  max-width: 1153px;
  margin:20px auto 0px;
  display: flex;
}

footer{
  background: #008369;
  width: 1173px;
    height:40px;
    padding-top: 1px;
    text-align: center;
    margin: 20px auto;
    color: white;
}

/*styles based on ids*/
  nav {
    background-image: url('english banner.png');
    height: 232px;
    max-width: 1173px;
    background-repeat: no-repeat;

    padding-top: 1px;
    margin: 0px auto;
    padding-right: 25px;
    box-sizing: border-box;

}

nav ul li {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 5px;
    background:#008369;
    margin-right: 5px;
    color: white;
}

#sidebar {
  background: white;
    width: 30%;
    min-width: 175px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 5px;
    display: inline-block;


}
#content {
  background: white;
    width: 70%;
    max-height: 800px;
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    vertical-align:top;
}

#diagram{
  display:block;
  width:100%;
  max-width: 500px;
  margin: 0px auto;
}

/*styles based on classes*/
.hide {
  display: none;
}

.rounded{
    border-radius: 5px;
}

.shadow {
  box-shadow: 3px 3px 5px 0px grey;
}


.list2 li{
  background: white;
  Margin: 5px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 0px;
  list-style: none;
  color: 008369;
}

.list2 li:hover{
  background: #ddd;
}

.list3 li{
  background: #008369;
  Margin: 5px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 0px;
  list-style: none;
  color: white;
}

.list3 li:hover{
  background: #006a55;
}
